.idea

node_modules

# webgme temp files and directories
server.log
app.log
blob-local-storage

# domain-tools project temp files and directories
executor-temp
jobList.nedb
workerList.nedb

# cyphy project temp files and directories
mongodatabase
!mongodatabase/Readme.md

src/compareAdms/samples/d1.adm
src/compareAdms/samples/d2.adm
src/compareAdms/samples/dhs.adm
src/compareAdms/samples/dhsID.adm
src/compareAdms/samples/MyMassSpringDamper.adm
*.adm
